/* reset css */
* {
  margin: 0;
  padding: 0;
  border: none;
}

:root {
  --background-color: rgb(49, 49, 49);
  --background-color-darker: rgb(32, 32, 32);
  --background-color-lighter: rgb(110, 110, 110);
  --text-color: rgb(224, 224, 224);
  --button-color: rgb(158, 158, 158);
  --button-color-hover: #e7e7e7;
}

body {
  background-color: var(--background-color-darker);
  color: var(--text-color);
}

input {
  padding: 1rem;
  margin: 0.25rem;
}

form button {
  padding: 0.75rem;
  border-radius: 5px;
}

button {
  background-color: var(--button-color);
  transition: 0.2s;
}

button:hover {
  color: var(--background-color-darker);
  cursor: pointer;
  background-color: var(--button-color-hover);
}

#formContainer {
  display: flex;
  justify-content: center;
}

#inputForm {
  padding: 2rem 15rem;
}

#inputForm h2 {
  margin-block: 1rem;
}

#criarButton {
  width: 100%;
}

#todosContainer button {
  margin-inline: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  padding-inline: 3rem;
  border-radius: 15px;
}

.todosContainer {
  justify-content: center;
  display: flex;
  margin-top: 0.5rem;
}

.todos h2, button {
  margin-top: 1rem;
}


.todos {
  width: 1024px;
  margin-top: 0.25rem;
  text-align: center;
  background-color: var(--background-color-lighter);
  border-radius: 10px;
}

.App {

  text-align: center;
}
